/* GLOBALS */

a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}
a:hover {
  color: #1abc9c;
}

#logo {
  cursor: pointer;
  font-size: 30px;
  font-weight: 800;
}

button{
    cursor: pointer;
    width: 100px;
    height: 35px;
    font-size: 14px;
    display: none;
    
}
button::before{
content: attr(btn-content);
}
button:hover{
    box-shadow: 0 1px 5px white;
}

/* ========== */

/* Header */
nav{
    height: 80px;
    display: flex;
    align-items: center;
}

.title {
  font-size: 4rem;
}
.lined-icon {
  font-size: 45px;
  position: relative;
}

header{
    height: 800px;
}
.header-text {
    top: 180px;
   
}

header h3 {
  font-size: 24px;
  font-weight: 400;
}

.lined-icon::before {
  content: "";
  width: 110px;
  height: 4px;
  background-color: white;
  position: absolute;
  border-radius: 10px;
  top: 25px;
  left: -130px;
}
.lined-icon::after {
  content: "";
  width: 110px;
  height: 4px;
  background-color: white;
  position: absolute;
  border-radius: 10px;
  top: 25px;
  right: -130px;
}
/* ============ */

/* section cards */

.cards {
  justify-content: space-evenly;
  row-gap: 30px;
}

.cards-title .lined-icon::after,
.cards-title .lined-icon::before {
  background-color: black;
}
.pic-div {
  cursor: pointer;
  width: 30%;
}
.pic-div img {
  border-radius: 10px;
}
.plus {
  opacity: 0;
}

.pic-div:hover .plus {
  opacity: 1;
}
.overlay {
  opacity: 0;
}
.pic-div:hover .overlay {
  opacity: 0.8;
}

/* ====== */

/* Responsive section */
/* @media (max-width:300px) {
    .lined-icon{
        display: none;
    }
    .naming{
        font-size: 18px;
    }
    .avatar{
        width: 100px;
    }
    .title{
        font-size: 20px;
    }
    
} */
@media (max-width: 576px) {
  header ul {
    display: none;
  }
  button{
    display: block;
    border-radius: 50% !important;
    width: 50px;
    height: 41px;
}  
button::before{
    content: '';
}
  #logo {
    font-size: 20px;
    width: 100%;
  }
  .title{
    font-size: 35px;
  }

  .pic-div {
    width: 70%;
    margin: 0;
  }
  .cards {
    flex-direction: column;
    align-items: center;
  }
 
}
@media (min-width:577px) and (max-width: 768px) {
    header ul {
        display: none;
      }
    button{
        display: block;
    }  


      #logo {
        font-size: 26px;
      }
      .title{
        font-size: 50px;
      }
      .pic-div {
        width: 70%;
        margin: 0;
      }
      .cards {
        flex-direction: column;
        align-items: center;
      }
}
@media (min-width:768px) and (max-width: 1000px) {

    .pic-div {
        width: 47%;
        margin: 0;
      }
      .cards {
        flex-flow: row wrap;
        justify-content: space-evenly;
      }
    
}

/* ==================== */
